* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../iintoo_demo/fonts/Barlow-Black.ttf') format('ttf'), url('../iintoo_demo/fonts/Barlow-Black.ttf') format('ttf');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../iintoo_demo/fonts/Barlow-Regular.woff2') format('woff2'), url('../iintoo_demo/fonts/Barlow-Regular.woff2') format('woff2');
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    max-width: 1600px
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EFF6FF;
    margin: 0 auto;
    padding: 40px 0 40px 0;
    position: fixed;
    width: 100%;
}

.container {
    display: flex;
    max-width: 90%;
    max-height: 90vh;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 60px #b4b1b1;
    box-sizing: border-box;
}

.block1 {
    width: 50%;
    background-image: url(../iintoo_demo/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin-left: 50px;
    margin-top: 20px;
    height: 30px;
}

.block2 {
    width: 50%;
    max-height: 90vh;
}

h2 {
    color: #2A4A5C;
    font-weight: 500;
}

.p1 {
    font-size: 15px;
    color: #2a4a5c93;
}

.p2 {
    font-size: 14px;
    color: #2a4a5c93;
}

.form {
    padding: 5% 10%;
}

.btn_link {
    color: white;
    padding: 3% 11%;
}

.reg {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.facebook {
    background-color: #255A9B;
    background-image: url(../iintoo_demo/facebook.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
    text-decoration: none;
    margin-right: 5%;
    width: 52%;
}

.linkedin {
    background-color: #0076B6;
    background-image: url(../iintoo_demo/linkedin.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
    text-decoration: none;
    width: 52%;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    font-size: large;
}

.line {
    margin: 3% 30%;
}

h6 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(180, 180, 180);
    line-height: 0.1em;
    margin: 10px 0 20px;
    opacity: 0.4;
}

h6 span {
    background: #fff;
    padding: 0 5px;
}

.info_style {
    padding: 3% 10%;
    border: 1px solid rgba(43, 43, 43, 0.164);
}

.info_style:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

h2 {
    /* font-family: 'Barlow', sans-serif; */
    color: #2A4A5C;
    font-weight: 500;
    font-size: 22px;
}

.radio_btn {
    margin: 0;
}

.label-radio {
    padding: 0px 1em 0px 8px;
}

.radio-item {
    background-image: url(../iintoo_demo/image/info.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 50%;
    opacity: 0.7;
}

.text-field__input {
    text-align: center;
    padding: 15px;
    border: 1px solid rgba(43, 43, 43, 0.164);
}

.text-field_floating {
    position: relative;
    /* margin-right: 7%; */
    width: 100%;
}

.text-field_floating .text-field__input:focus {
    outline: 0;
    border-left: 3px solid #03a9f4;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    margin-right: 7%;
    width: 100%;
}

.text-field_floating .text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: color .15s ease-in-out, transform .15s ease-in-out;
    margin-right: 7%;
    width: 100%;
}

.text-field_floating .text-field__input:focus,
.text-field_floating .text-field__input:not(:placeholder-shown) {
    padding-top: 20px;
    padding-bottom: 14px;
    font-size: large;
    /* margin-right: 7%; */
    width: 100%;
}

.text-field_floating .text-field__input:focus~.text-field__label,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label {
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
    color: gray;
}

.radio__item {
    margin-right: 3%;
}

.text {
    max-width: 70%;
    margin: 30px 0 30px;
    box-shadow: 0 0 20px #ececec;
    padding: 5px;
    border-radius: 5px;
}

.description {
    margin: 0;
    padding: 1%;
    font-size: 13px;
    color: #b4b1b1;
}

.checkbox-label {
    color: #b4b1b1;
    font-size: 13px;
}

.btn_acc {
    margin-top: 40px;
}

.btn-value {
    width: 260px;
    border: none;
    background-color: #3698FB;
    border-radius: 5px;
}

.btn {
    color: white;
    padding: 13px 61px;
}

a {
    color: #3698FB;
}

.checkbox-style {
    opacity: 0.2;
}